apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: monitoring
spec:
  interval: 30m
  chart:
    spec:
      chart: kube-prometheus-stack
      version: "66.2.2"
      sourceRef:
        kind: HelmRepository
        name: kube-prometheus-stack
        namespace: monitoring

  install:
    createNamespace: false

  values:
    grafana:
      adminPassword: ruben
      ingress:
        enabled: true
        ingressClassName: traefik
        hosts:
          - grafana.homekube.dev
        tls:
          - secretName: grafana-tls-secret
            hosts:
              - grafana.homekube.dev